<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>thymeleafの各種処理テスト</title>
</head>

<div class="container">

    <div th:if="${testIf}">
        <h3>①.th:ifの練習</h3>
        <div th:if="${boo}">
            <p>booの値はTRUEです</p>
        </div>
        <div th:unless="${boo}">
            <p>booの値はFALSEです</p>
        </div>
    </div>

    <div th:if="${testDateFormat}">
        <h3>②.DateTimeのフォーマット出力の確認</h3>
        <h1>format(${T...})処理のテスト</h1>
        <p th:text="${T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd HH:mm:ss').format(now)}"></p>
        <p>メモの作成日時：<span
                th:text="${T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd HH:mm:ss').format(createdAt)}"></span>
            です</p>
        <!--/* versionによっては以下の形式も java.timeが使えるthymeleafversionであれば */-->
        <!-- <p>Current time: <span th:text="${createdAt != null ? #dates.format(createdAt, 'yyyy-MM-dd HH:mm:ss') : 'N/A'}"></span></p> -->

        <!-- <p th:text="${T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd HH:mm:ss').format(createdAt)}"></p> -->
        <!-- <p th:text="${#dates.format(cratedAt, 'yyyy-MM-dd HH:mm:ss')}"></p> -->
    </div>


    <div th:if="${mapTest}">
        <h3>③.Mapオブジェクトの出力動作確認 ${オブジェクト名.キー名}</h3>
        <h1>1.map出力テスト</h1>
        <p th:text="${data.name}">Name</p>
        <p th:text="${data.message}">Message</p>
        <p th:text="${data.memo.id}">id</p>
        <p th:text="${data.memo.content}">content</p>
    </div>


    <div th:if="${formGetTest}">
        <h1>④.各種パラメータ取得テスト</h1>
        <form th:action="@{/thymeleaftest/variable/1}" method="get">
            <label for="content">contentを入力(Memoモデル)</label><br>
            <input type="text" id="content" name="content"><br>

            <label for="content">nameを入力(Memoモデル)</label><br>
            <input type="text" id="name" name="name"><br>

            <input type="submit" value="送信">
        </form>
    </div>
    <div th:if="${formPostTest}">
        <h2>④-2.取得したパラメータの出力</h2>
        <p th:text="${id}"></p>
        <p th:text="${content}"></p>
        <p th:text="${name}"></p>
    </div>


    <div th:if="${testWith}">
        <h2>⑤.th:withの使い方確認</h2>
        <div th:with="userName='澁谷 晶久', age=38">
            <p th:text="'こんにちは、私の名前は ' + ${userName} + ' です。年齢は ' + ${age} + ' 歳です。'"></p>
        </div>
    </div>


    <div th:if="${testClassAppend}">
        <h2>⑥.th:classappendの練習</h2>
        <div class="test" th:classappend="${appendTestValue} eq null ? 'append-value-null' : 'append-value-not-null'">
            <p>ディベロッパーツールでclass値を確認してください</p>
        </div>
    </div>


    <div th:if="${variableUnion}">
        <h2>⑦.文字や変数の結合テスト</h2>
        <!--/* 変数同士は +で結合 文字列は シングルクォーテーで囲む */-->
        <p th:text="'名字と名前の変数結合:' + ${myouji} + ' ' + ${namae} + ' です'"></p>
    </div>

    <div th:if="${testCase}">
        <h2>⑦.th:caseのテスト</h2>
        <div th:switch="${testCaseValue}">
            <p th:case=1>1です</p>
            <p th:case=2>2です</p>
            <p th:case=3>3です</p>
            <p th:case="*">それ以外です</p>
        </div>
    </div>


</div>
</div>